body {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.content-list li:not(:last-child) {
    margin-bottom: 0.5rem;
}
.content-list {
    list-style-type: none;
    padding: 0;
}

a:link { text-decoration: none; border-bottom:1px dotted; }
a:visited { text-decoration: none; border-bottom:1px dotted; }
a:hover { text-decoration: none; border-bottom:1px dotted; }
a:active { text-decoration: none; border-bottom:1px dotted; }

table td, table td * {
    vertical-align: top;
}
table tr.spaceUnder>td {
  padding-bottom: 0.5em;
}

.mybg {
    background-color: #f2f4f8;
}

.wide-columns {
  border-collapse: separate; /* Ensure that the table cells are separated */
  border-spacing: 15px; /* Adjust the value to increase or decrease the gap */
}
