{% extends "page.html" %}

{% block inner %}
<p class="entry-body mb-section">This page lists my awards, grants, deployments, and other important achievements.</p>
{% for a in achievements %}
{% if loop.first or loop.previtem.year != a.year %}
<h2 class="section-label {% if not loop.first %}mt-section{% endif %}">{{ a.year }}</h2>
{% endif %}
<div class="{% if not loop.last %}mb-block{% endif %}">
  {% if a.type == 'grant' %}
  <p class="entry-title">{{ a.funder }} {{ a.call }}</p>
  <p class="entry-body">{{ a.description }}.</p>
  {% else %}
  <p class="entry-title">{{ a.title }}</p>
  <p class="entry-body">{{ a.description }}</p>
  {% endif %}
</div>
{% endfor %}
{% endblock %}
