{% extends "overview_card.html" %}

{% import 'utils.html' as utils %}

{% block title %}
Group
{% endblock %}

{% block content %}
{# <p class="entry-body mb-block">{{ utils.link('PhD positions', page_url('achievements')) }} available for September 2026 intake.</p> #}
<ul class="rows">
  {% for m in group %}
  {% if not m.alumni %}
  <li>
    <p class="entry-title">{{ m.name }}</p>
    <p class="entry-meta">{{ m.history[0].position }}</p>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endblock %}

{#
{% block links %}
{{ utils.link('View Alumni in Full CV', file_url('sergey_mechtaev_full_cv.pdf')) }}
{% endblock %}
#}
