<div class="w-full max-w-144 bg-white border-1 border-neutral-300 shadow-md">
  <div class="flex flex-col justify-between h-full">
    <div>
      <p class="font-sans font-semibold text-xl border-b-1 border-neutral-300 pl-4 pr-4 pt-3 pb-3">{% block title %}{% endblock %}</p>
      <div class="font-serif pl-4 pr-4 pt-3 pb-3">
        <div>
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <div class="font-serif pl-4 pr-4 pb-3">
      <div class="flex flex-row gap-3">
        {% block links %}{% endblock %}
      </div>
    </div>
  </div>
</div>
