{% extends "base.html" %}
{% block content %}
<div class="w-full max-w-360 mx-auto px-5 py-8">
  <div class="grid justify-center justify-items-center sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 xl2:grid-cols-3 gap-5">

    {% include 'bio_card.html' %}

    {% include 'publications_card.html' %}

    {# On the three-column layout News and Talks stack one below the other in
       a single cell; below xl the wrapper dissolves (display: contents) and
       both cards are placed in the grid individually. #}
    <div class="contents xl:flex xl:flex-col xl:gap-5 xl:w-full xl:max-w-144 xl:[&>:last-child]:grow">
      {% include 'news_card.html' %}
      {% include 'talks_card.html' %}
    </div>

    {% include 'group_card.html' %}

    {% include 'service_card.html' %}

    {% include 'teaching_card.html' %}

  </div>
</div>
{% endblock %}
