{% extends "base.html" %}

{% import 'utils.html' as utils %}

{% block content %}
<div class="w-full max-w-222 mx-auto bg-white border border-stone-200 shadow-sm my-8">
  <div class="flex flex-col justify-between h-full">
    <div>
      <div class="font-sans text-sm text-stone-400 pl-6 pr-6 pt-4 pb-3">
        {% for d in page_context %}
          {% if d.linked %}{{ utils.link(d.title, d.path) }}{% else %}<span>{{ d.title }}</span>{% endif %} /
        {% endfor %}
        <span class="text-stone-600">{{ page_title }}</span>
      </div>
      <div class="font-serif pl-6 pr-6 pt-3 pb-5">
        <div>
          {% block inner %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
