{% extends "overview_card.html" %}

{% import 'utils.html' as utils %}

{% block title %}
Publications
{% endblock %}

{% block content %}
<div>
  <ul>
    {% for p in publications[:4] %}
    <li class="flex py-2 first:pt-0 last:pb-0">
      <div>
        <p class="text-base/5"><span class="font-bold">{{ p.title }}.</span> <span class="italic">{{ p.authors|map(attribute='name')|join(', ') }}.</span> {% if p.venue_short %} {{ p.venue_short }} {% else %} Draft {% endif %} {{ p.year }}.</p>
        {% if p.file or p.links %}
        <div class="text-sm flex flex-row gap-3">
          {% if p.file %}
            {{ utils.link('[' + p.file_label + ']', file_url(p.file)) }}
          {% endif %}
          {% for l in p.links %}
            {{ utils.link('[' + l.label + ']', l.url) }}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>                
</div>
{% endblock %}

{% block links %}
{{ utils.link('View All', page_url('publications')) }}
{{ utils.link('Google Scholar', general.scholar) }}
{{ utils.link('DBLP', general.dblp) }}
{% endblock %}
