{% extends "overview_card.html" %}

{% import 'utils.html' as utils %}

{% block title %}
Publications
{% endblock %}

{% block content %}
<ul class="rows-loose">
  {% for p in publications[:5] %}
  <li>
    <p class="entry-title">{{ p.title }}</p>
    <p class="entry-meta">{{ p.authors|map(attribute='name')|join(', ') }}</p>
    <div class="link-row">
      <span class="entry-note">{% if p.venue_short %}{{ p.venue_short }}{% else %}Draft{% endif %} {{ p.year }}</span>
      {% if p.file %}{{ utils.link(p.file_label, file_url(p.file)) }}{% endif %}
      {% for l in p.links %}{{ utils.link(l.label, l.url) }}{% endfor %}
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}

{% block links %}
{{ utils.link('View All', page_url('publications')) }}
{{ utils.link('Google Scholar', general.scholar) }}
{{ utils.link('DBLP', general.dblp) }}
{% endblock %}
