{% extends "overview_card.html" %}

{% import 'utils.html' as utils %}

{% block title %}
Teaching
{% endblock %}

{% block content %}
<ul class="rows-loose">
  {% for c in teaching[:4] %}
  <li>
    <p class="entry-title">{% if c.id %}{{ utils.link(c.title, page_url(c.id)) }}{% else %}{{ c.title }}{% endif %}</p>
    <p class="entry-meta">{{ c.institution }}</p>
    <p class="entry-note">{{ month_name(c.start.month) }} {{ c.start.year }}&ndash;{{ month_name(c.end.month) }} {{ c.end.year }}</p>
  </li>
  {% endfor %}
</ul>
{% endblock %}
